@using TM_MappingTools.Pages
@using TM_MappingTools.Utils

@inject TM_MappingTools.Services.ToolRegistryService ToolRegistryService
@inject TM_MappingTools.Services.ToolMessageService ToolMessageService

@inject IJSRuntime JS
@inherits LayoutComponentBase
@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/AchimBunke/TM_MappingTools" target="_blank">Mapping Tools GitHub</a>
            <a href="https://github.com/AchimBunke/TM_CSharpMapping" target="_blank">CSharp Mapping GitHub</a>
            <a href="https://trackmania.exchange/usershow/131189" target="_blank">TMX</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <MessageLogRow ToolMessageService="ToolMessageService" />
    </main>
</div>

@code {
  
    public void Dispose()
    {

    }

    private string GetSourceIcon(string source) => ToolRegistryService.GetIconForSource(source);

}

