<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TM Mapping Tools</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="nav-menu-icon bi-house-door-fill" aria-hidden="true"></i> Home
            </NavLink>
        </div>

        <hr class="nav-separator" />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="player-attached-triangles">
                <i class="nav-menu-icon bi-paperclip" aria-hidden="true"></i>Player-Attached 3DTriangles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="optimize-keyframe-animations">
                <i class="nav-menu-icon bi-bezier"></i> Optimize Keyframe Animations
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="optimize-triangle-compression">
                <i class="nav-menu-icon bi-grid-3x3"></i> Optimize Triangle Compression
            </NavLink>
        </div>

        <hr class="nav-separator" />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <i class="nav-menu-icon bi-info-circle" aria-hidden="true"></i> About
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
