@page "/map-item-replacer"
@inject TM_MappingTools.Services.FileTypeManager FileTypeManager

<PageTitle>Item Replacer</PageTitle>

<div class="tool-page">
    <ToolPageHeader IconClass="bi-shuffle"
                    Title="Item Replacer"
                    Description="Replace blocks and items in a map with other ones.">
    </ToolPageHeader>

    <div class="tool-page-body">

        <div class="alert alert-warning">
            This tool is coming soon!
        </div>
        
    </div>
</div>
